@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}

canvas{
    display: flex;
    margin-top: 20vh;
    justify-content: center;
    flex-direction: row;
    border-radius: 50vh;
    height: 320px;
    width: 320px;
    border: 2px solid black;
}

button{
    border-radius: 50vh;
    padding: 1vh 1vh 1vh 1vh;
}

