@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 80px;
    margin-right: 80px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
}